@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.mainComponent {
    position: relative;
}

.sliderPlacer {
  margin-top:auto !important;
  margin-bottom:auto !important;
}

.mainTyping {
  font-size: 35px;
  color: white;
  background-color: black;
  padding-left:10px;
  padding-right:10px;
}

.titleOverlay {
    position: absolute;
    width: 100%;
    z-index:2;
    background: linear-gradient(rgba(0,0,0), rgba(0,0,0,0), rgba(0,0,0,.9));
}

.imagePage {
  transform: scale(0.6);
  transition: transform 300ms;
  opacity: 0.4;
  margin: 0 !important;
}

.activePage {
  transform: scale(1.2) !important;
  transition: transform 300ms;
  opacity: .6;
}

.arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}
.next {
  right: 10%;
  top: 50%;
}

.prev {
  left: 10%;
  top: 50%;
}

.buyWrap .chakra-wrap__list {
  justify-content: center;
}

.tableHideScroll {
  -ms-overflow-style: none;
  scrollbar-color: transparent transparent;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.requestFixed {
  position: fixed;
  margin-top: 100px;
  margin-left: 900px !important;
}